<div class="mx-auto px-5 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Aceite de Niaouli </h1>
    <div class="col-lg-6 mx-auto">
        <p class="titulo fw-bold fs-2">El secreto mejor guardado !!</p>
      <p class="lead mb-4">Extraído de las hojas de un árbol nativo de Australia, este aceite esencial tiene una larga historia de uso terapéutico en la medicina tradicional.
         Pero recientemente, se ha convertido en un ingrediente popular en los productos de cuidado de la piel gracias a sus múltiples beneficios para la piel.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a class="boton btn btn-primary btn-lg px-4 me-sm-3" href="https://amzn.to/3xyT0Aw">Comprar en Amazon</a>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Ver mas ...</button>
      </div>
    </div>
    <div class="col-md-12 overflow-hidden" style="max-height: 60vh;">
      <div class="container px-5">
        <img src="../../../assets/imagenes/niaouli.jpg" style="min-width:100px" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="10%"  loading="lazy">
      </div>
    </div>