h1{
    font-family: 'WindSong', cursive;
    font-size: 5em;
    color:rgb(4, 107, 107);

}
.titulo {
    font-family: 'Yuji Syuku', serif;

}

.boton {
    background-color: rgb(4, 107, 107) !important;
    color: aliceblue;
    font-size: 1.5em;
    
   
}
.boton:hover {
    background-color: white !important;
    color:rgb(4, 107, 107) !important;
}