.container {
  width: 80%;
  
  margin: auto;
  min-height: 100%;
}
.micard {
 
  height: auto;
  max-height: 800px;
  background-color: rgb(247, 243, 239);
  box-shadow: 20px;
  -webkit-box-shadow: 6px 6px 14px 0px rgba(0,0,0,0.58);
-moz-box-shadow: 6px 6px 14px 0px rgba(0,0,0,0.58);
box-shadow: 6px 6px 14px 0px rgba(0,0,0,0.58);
border-radius: 27px 27px 27px 27px;
-moz-border-radius: 27px 27px 27px 27px;
-webkit-border-radius: 27px 27px 27px 27px;
border: 2px groove #000000;
padding: 12px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.grid{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 15px;
  text-align: center;
 

}
img {
  border-radius: 15px;
  width: 50%;
}

.badge {
  background-color: red;
  color: white;
  padding: 4px 8px;
  text-align: center;
  font-size: 0.8em;
  margin-right: 20px;
  border-radius: 10px;
}
.informacion{
  max-width: 90%;
  max-height: 100%;
}

@media screen and (max-width: 690px) {
  .micard{
width: 100%;
height: 100vh;
  }
  img{
    width: auto;
    max-height:35% ;
  }
}