<div class="container">
  
      <div class="grid">
          <div class="micard" *ngFor="let item of productoService.allProductos">
            <span class="titulo fw-bold">{{item.nombre}}</span>

              <img src={{item.imagen}}   alt="">
              <div class="informacion">
                  <span [ngStyle]="{'background-color':item.status === 'Alive' ? 'green' : 'red' }" class="badge">{{item.status}}</span>
              <p >{{item.descripcion}}</p>
              <span class="fs-3">Precio {{item.precio}} €</span>
              </div>
              <a class="boton btn btn-primary btn-lg px-4 me-sm-3" href="{{item.url}}">Comprar en Amazon</a>
          </div>
      </div>
  </div>