<app-secreto></app-secreto>

<div class="container">
    <div class="texto">
<h1>Aceites Esenciales</h1>
      <p class="intro">¡Transforma tu rutina de belleza! Agrega nuestros aceites esenciales 100% naturales a tus productos de cuidado personal
         y mejora la apariencia y salud de tu piel, cabello y cuerpo </p>
         <a class="boton btn btn-primary btn-lg px-4 me-sm-3" href="https://amzn.to/3xyT0Aw">Comprar en Amazon</a>

   <a class="btn btn-primary btn-lg  boton" routerLink="/listado">See more ...</a>
    </div>
    <div class="imagen">
<img src="../../../assets/imagenes/botellines_aceite.jpg" width="120%" alt="">
    </div>
</div>

<app-promocion-iconos></app-promocion-iconos>
<app-custom-cards></app-custom-cards>
